/* Universal styles
 ----------------------------------------------------------------------------------------------------------------------*/
 *{
    margin: 0;
    padding: 0;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}


/* Header
---------------------------------------------------------------------------------------------------------------------- */
.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: black;
    
}
.Header ul{
    display: flex;
}
.Header li{
    list-style: none;
    padding: 20px 10px;
    text-shadow: 2px 2px 10px black;
}
.Header li:hover{
    background-color: white;
    color: black;

}
.Header h1{
    padding: 10px;
}
.Header a{
    text-decoration: none;
    color: white;
}
/* Background Section
------------------------------------------------------------------------------------------------------------------------------- */
section{
    background:url(../images/About.png) no-repeat center/cover;
    width: 100vw;
    height: 90vh;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color: white;
    font-style: normal;
    box-shadow: 2px 2px 10px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    
}
section h1{
    font-size: 50px;
    text-shadow: 1px 1px 10px white;
}
section h3,a{
    text-decoration: none;
}
.mob-nav{
    display: none;
}
@media screen and (min-width:900px){
    .contact-info{
        position: relative;
        left: -9999px;
    }
}

/* Meadia query
-------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:830px){
    section{
        background:url(../images/Black\ and\ White\ Dark\ Classic\ Minimal\ Design\ -\ Graphic\ Design\ Art\ and\ Design_20240804_134926_0004.png) no-repeat center/cover;
        display: flex;
        flex-direction: column;
    }
    
    .menu-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        color: white;
        padding-bottom: 10px;
        padding-right:20px ;
        size: 2rem;
    }
    .lap-nav{
        display: none;
    }
    .mob-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        width: 100%;
        position:absolute;
        top: 50px;
        left: 0;
        background-color: #524545;
    }
    .nav-links li{
        display: none;
        text-align: center;
    }
}
@media screen and (max-height:550px) and (max-width:830px){
    .mob-nav{
        display: none;
    }
    .lap-nav{
        display: block;
    }
    .contact-info{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section{
        background:url(../images/Black\ and\ White\ Dark\ Classic\ Minimal\ Design\ -\ Graphic\ Design\ Art\ and\ Design_20240804_134926_0004.png) no-repeat center/cover;
        display: flex;
        flex-direction: column;
    }
}

